.Header {
    padding: 15px 0;
    background-color: #fff;
    box-shadow: 0px 1px 10px #9999994f;
    position: fixed;
    width: 100%;
}

.Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Nav {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 4px;    
}

.Nav a:not(:last-child) {
    margin-right: 40px;
}

.Nav a {
    transition: all .3s ease;
}

.Nav a:hover {
    font-weight: 700;
}

.LanguageWrapper {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}